# Python Programming Crash Course - 
# Am I your type?
<br>
<div>
<img src="data/Python-logo-notext.svg" width="200"/>
</div>

This part is about data types.
We have seen in the last notebook, that some expressions produce different output:

In [1]:
div_16 = 16 / 4
div_floor_16 = 16 // 4

print("16 / 4  =", div_16)
print("16 // 4 =", div_floor_16)

16 / 4  = 4.0
16 // 4 = 4

While the result is the same, the printed output looks different. That is, because the above expressions return different data types:\
The first expression is a <font color="green">**floating point number**</font>, the second is an <font color="green">**integer**</font>.

What's up with that?

# Basic Data Types

Every value in python has a data type, be it a character, a number or a logical expression. 

So our two variables div_16 and div_floor_16 have different types! How can we tell?

In [2]:
print(div_16, "\n", div_floor_16)

4.0
 4

Remember that there are <font color='green'>**build-in functions**</font> in Python? You already á¸±now **`print()`**, **`input()`**, **`open()`** and **`help()`**.\
Here's another one: **`type()`**.

**`type()`** tells you, what <font color='green'>**type**</font> a certain object has. Remember that Python is an <font color='green'>**object-oriented**</font> language?
That mean everything is an <font color='green'>**object**</font>. And every <font color='green'>**object**</font> has a <font color='green'>**type**</font>.

Another useful one is **`isinstance()`** which tests, if a certain variable/expression belongs to a certain type.

Try to find out the types of these variables:

```python
div_floor_16

div_16
```

In [3]:
type(16 // 4)

int

In [4]:
type(div_floor_16)

int

In [5]:
type(div_16)

float

## 1. Python Numbers

Numerical values in Python belong to three basic data types:

### Integer numbers (<font color='green'>**int**</font>)

An <font color='green'>**int**</font> is a natural number, such as <font color='3da831'>10</font> or <font color='3da831'>-5</font> or <font color='3da831'>0</font>.

In [6]:
# what is the type of the literal 10?
type(10)

int

In [9]:
# what is the type of x = 14
x = 14
type(x)
isinstance(x, float)

False

### Floating point numbers (<font color='green'>**float**</font>)

A <font color='green'>**float**</font> is a real number (with a decimal point), such as <font color='3da831'>2.3</font> or <font color='#3da831'>3.141592653589793</font>.

You can even use scientific notation: <font color='#3da831'>1.48e-2</font> or <font color='#3da831'>2.1e+12</font>

In [10]:
# what is the type of 
pi = 3.141592653589793
type(pi)

float

In [12]:
# what is the type of 2.1e-3?
x = 1.48e-2
print(x, type(x))

0.0148 <class 'float'>

In [13]:
type(x)

float

In [14]:
type(3602879701896397 / 2 ** 55)

float

### Complex numbers (<font color='green'>**complex**</font>)

These are also complex numbers such as $\sqrt{-1}$ or <font color='#3da831'>2+3i</font>, which would be of type <font color='green'>**complex**</font>.\
(But you will not need them, so ... )

Guess the type:

```Python
x = 15
y = 2.0
z = x ** y
u = x * y
v = 14 / 2
w = 15 ** 2
t = 15.0 ** 2
15 + 4.0
```

In [18]:
# what's the type of ...
x = 15
y = 2.0
z = x ** y
u = x * y
v = 14 / 2
w = 15 ** 2
t = 15.0 ** 2
15 + 4.0
print(z, type(z))
print(u, type(u))
print(w, type(w))

225.0 <class 'float'>
30.0 <class 'float'>
225 <class 'int'>

## 2. Logicals 

To represent, wether something is true or not we need logical values.

#### Bools (<font color='green'>**bool**</font>) 

A <font color='green'>**bool**</font> is one of the logical values <font color='#3da831'>**True**</font> and <font color='#3da831'>**False**</font>.

Now now know what the keywords <font color='#3da831'>**True**</font> and <font color='#3da831'>**False**</font> mean.

In [19]:
# What's the type of the literals True and False?
type(True)

bool

In [20]:
# What's the type of x = 14 <= 12?
x = 14 <= 12
type(x)

bool

## 3. Nothing at all 

Sometimes you need to represent nothing, e.g. for a value, that does not (yet) exist or a function that
does not give you a meaningful result.

#### NoneType (<font color='green'>**None**</font>)

This represents the absence of a value or a null value, denoted by the literal <font color='#3da831'>**None**</font>.

In [21]:
# None
type(None)

NoneType

In [23]:
# what is the type of print("Hello!")
x = print("Hello!")
x = None
type(x)

Hello!

NoneType

## 4. Python Strings

Unicode characters, sequences of characters or simply all sorts of text are represented by <font color='green'>**Strings**</font>.

### Strings (<font color='green'>**string**</font>)

A <font color='green'>**string**</font> is a sequence of unicode characters, surrounded by quotation marks, such as <font color='salmon'>"Hello, World!"</font>

You can use single quotes, double quotes and triple quotes for multiline strings.

You can do lot's of things with Strings, actually!

In [26]:
#my_name = "Marco"
my_name = 'Marco'
type(my_name)

str

In [27]:
x = """Iam
Arthur,
King of the Britons
"""
print(x)

Iam
Arthur,
King of the Britons

#### 3.1 Apply operators

the <font color='green'>**operators**</font> we have encountered may be defined on different data types. 
You can apply for example <font color='purple'>**+**</font> also on strings:

In [29]:
a = "Nobody"
b = "expects"
inquisition = " Inquisition!!"

spanish_inquisition = a + " " + b + " the spanish" + inquisition
print(spanish_inquisition)

Nobody expects the spanish Inquisition!!

In [30]:
print("spanish\ninquisition")

spanish
inquisition

#### 3.2 Escape special character meaning
What if we need quotations marks in a string? 

You can use a backslash <font color='salmon'>**\\\**</font> to escape the meaning of a special character or apply a special meaning to characters!

In [32]:
this_does_work = "I am \"Arthur\", king of the Britons!"

print(this_does_work)

I am "Arthur", king of the Britons!

In [33]:
print("I am Arthur,\n king of the Britons!")

I am Arthur,
 king of the Britons!

#### 3.3 <font color='green'>**Slicing**</font>

As Strings are sequences of characters, we can easily select parts of that sequence or even single characters by specifrying the indices of the characters we want in squared brackets. This is called <font color='green'>**slicing**</font>.

<font color='green'>**Slicing**</font> is how you select subsets of all kinds of sequences in python, not only strings. 

You will encounter this everywhere!

In [37]:
spanish_inquisition

'Nobody expects the spanish Inquisition!!'

<font color='red'>**Attention! In python, we do 0-indexing, so the first index number is always 0, not 1!**</font>

You can specify a single index or a range:

In [38]:
spanish_inquisition[19:26]

'spanish'

You can also select everything up to/from an index:

In [39]:
print(spanish_inquisition[:26])  # from beginning
print(spanish_inquisition[27:])  # until end

Nobody expects the spanish
Inquisition!!

You can even index from the end by using negative sings:

In [40]:
spanish_inquisition[-13:]

'Inquisition!!'

The basic idea of <font color='green'>**slicing**</font> is to specify a start index, a stop index and optionally a step:

```Python
mystring[start:stop:step]
```
That means you can also retrieve every second letter:

In [41]:
# print every second letter
print(spanish_inquisition[::2])

Nbd xet h pns nusto!

Or even use a negative step to reverse the order:

In [42]:
# print the reverse order
print(spanish_inquisition[::-1])

!!noitisiuqnI hsinaps eht stcepxe ydoboN

#### 3.4 Apply functions

There are certain useful functions you can apply on strings, for example find the start of a certain word:

In [45]:
# find the start index of the word "Inquisition" in our message!
index = spanish_inquisition.find("Inquisition")
print(index)
print(spanish_inquisition[index:])

27
Inquisition!!

Count the occurences of a substring using **`.count()`**:

In [48]:
# count the occurences of substrings
print(spanish_inquisition)
spanish_inquisition.count("spanish")

Nobody expects the spanish Inquisition!!

1

You can format a string using either **`.format()`** or a so-called <font color="green">**f-string**</font>:

In [50]:
# format the string
cardinal = "Cardinal"
poke_her = "{}! Poke her with the soft cushions!".format(cardinal)
print(poke_her)
poke_her = "{}! Poke her with the soft cushions!".format("Biggles")
print(poke_her)
poke_her = "{}! Poke her with the soft {}!".format(cardinal, "cushions")
print(poke_her)

Cardinal! Poke her with the soft cushions!
Biggles! Poke her with the soft cushions!
Cardinal! Poke her with the soft cushions!

Each occurence of curly brackets tells python, where to put the next argument of the format function.

In [52]:
# f-string
cardinal = "Biggles"
fetch_chair = f"{cardinal}! Fetch the comfy chair!"
print(fetch_chair)

Biggles! Fetch the comfy chair!

In [55]:
# f string numbers
three = 3.000003
holy_handgrenade = f"{three} shall be the number thou shalt count."
print(holy_handgrenade)

3.00 shall be the number thou shalt count.

Change the case with **`.upper()`** or **`.lower()`**::

In [57]:
# upper case letters
print(spanish_inquisition.upper())
print(spanish_inquisition.lower())

NOBODY EXPECTS THE SPANISH INQUISITION!!
nobody expects the spanish inquisition!!

Or replace some words with **`.replace()`**:

In [58]:
# Replace
some_string = "I will not by this record! It is scratched!"
some_string = some_string.replace("record", "tobacco")
print(some_string)

I will not by this tobacco! It is scratched!

Of course there are more functions you can apply on strings. And how does that even work and what does that syntax mean?

```Python
some_string.upper()
```

We will get to that soon ... But now for something completely different!

# Casting

In [63]:
# What's the type of result = 84 + (84 < 100) ... and why?
result = 84 + (84 > 100)
print(result)

84

What happens?

<details>
    <summary><font color="orange"><b>Click me!</b></font></summary>
    The parenthesis has precedence, so (84 < 100) is True. We then add True to 84 which is apparently 85.<br>
    The reason for this is because True and False can be interpreted as 1 and 0 in a binary setting.<br> 
    Python implicitly converts the bool type into an integer!
</details>

\
Obviously, we can change the data type. With the expression

```Python
result = 84 + (84 < 100)
```
we created a <font color='green'>**bool**</font> type (84 < 100) and then it's changed into an <font color='green'>**integer**</font>, so that 84 + (84 < 100) = 85 results in an <font color='green'>**integer**</font> again.

The same thing happens here:

```Python
result = 16 / 4
```
Two <font color='green'>**integers**</font> are turned into a <font color='green'>**float**</font> by using the division operator!

What happens implicitly is called <font color='green'>**casting**</font>. 

<font color='green'>**Casting**</font> means we change a data type of a variable to another one. As we have seen, this makes a lot of sense, if for example the result of a math operation, like division, leads to a decimal number or if we type in an expression involving different data types.\
We can also do this explicitly by using this syntax (as long as it makes any sense):

**`int(x)`** \
**`float(x)`** \
**`bool(x)`** \
**`str(x)`**

In [64]:
# int to float
my_int = 15
print(my_int, type(my_int), "cast to ...")
x = float(my_int)
print(x, type(x))
x = bool(my_int)
print(x, type(x))

15 <class 'int'> cast to ...
15.0 <class 'float'>
True <class 'bool'>

In [65]:
# float to int
my_float = 12.0
x = str(my_float)
print(x, type(x))

12.0 <class 'str'>

In [66]:
# bool to something
my_bool = True
x = int(my_bool)
print(x, type(x))

1 <class 'int'>

In [69]:
# str to something
some_string = "44"
x = int(some_string)
print(x, type(x))

44 <class 'int'>

In [72]:
# example input: add 
number1 = 15
number2 = int(input("Give me a number and I'll add 15 to it!"))
result = number1 + number2
print("Voila!", result)

Give me a number and I'll add 15 to it! 20

Voila! 35

### Operations with different types

Since we have different data types, it makes sense to define the <font color='green'>**operations**</font> we have on different types as well.\
We have seen this with strings, where <font color='#a71ed9'>**+**</font> means concatenate the words! Python will try to evaluate your expressions in a way that makes sense.
That also means that you have to take care, because your expressions might result in unwanted behaviour.

In [73]:
# Addition
print("1 + 1 =", 1+1)
print("1 + 1 =", "1" + "1")

1 + 1 = 2
1 + 1 = 11

# Containers: Tuples, Lists and Dictionaries

We can use <font color='green'>**variables**</font> to store values that may or may not change over time
during the execution of our programs.

But what if we need to store more than one value, for example the names of the months? Entries of a phone book?
A couple of numbers? We would need to put multiple values in a so-called <font color='green'>**container**</font>!

## Python <font color='green'>**Lists**</font>

If we need to store a list of values, we can just do that: Use <font color='green'>**lists**</font>!

A <font color='green'>**list**</font> is just an ordered sequence of values, just like <font color='green'>**strings**</font>, which are sequences of characters. The <font color='green'>**items**</font> in a list are numbered, again starting from zero. 

That means you can index them (<font color='red'>**0-based!**</font>), use <font color='green'>**slicing**</font>, add items to the list, remove them, reorder them, and so on. 

A <font color='green'>**list**</font> is enclosed by squared brackets and may contain anything, inclusing a mix of different data types. You can also create a list from a suitable input using **`list()`**, just like we did when casting one data type to another.

In [1]:
# this is a valid list
the_monty_pythons = ["John", "Terry", "Eric", "Michael", "Terry"]
print(the_monty_pythons)

# this is a list of numbers
numbers_to_10 = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
print(numbers_to_10)

# this is a list of mixed data types
a_mixed_list = ["John", 1939, 4.5, True, False]
print(a_mixed_list)

# an empty list
empty_list = []
print(empty_list)

# You can create a list from something create a list by casting ... 
a_list = list("abc")
print(a_list)

['John', 'Terry', 'Eric', 'Michael', 'Terry']
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
['John', 1939, 4.5, True, False]
[]
['a', 'b', 'c']

Again, you can use with <font color='green'>**slicing**</font> with lists:

In [2]:
# slices
print(numbers_to_10[0])

1

In [3]:
# a range
print(numbers_to_10[0:5])

[1, 2, 3, 4, 5]

In [4]:
# negative index
print(numbers_to_10[2:-2])

[3, 4, 5, 6, 7, 8]

In [5]:
# reverse the order
print(numbers_to_10[::-1])

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

You can also modify lists. For example, add an item using **`.append()`**:

In [6]:
print(the_monty_pythons)
the_monty_pythons.append("Graham")
print(the_monty_pythons)

['John', 'Terry', 'Eric', 'Michael', 'Terry']
['John', 'Terry', 'Eric', 'Michael', 'Terry', 'Graham']

Or, delete and entry using the keyword <font color='lightgreen'>**del**</font>:

In [7]:
print(the_monty_pythons)
del the_monty_pythons[0]
print(the_monty_pythons)

['John', 'Terry', 'Eric', 'Michael', 'Terry', 'Graham']
['Terry', 'Eric', 'Michael', 'Terry', 'Graham']

You can add two lists together by **`.extend()`**:

In [10]:
the_monty_pythons_1 = ["John", "Terry", "Eric"]
the_monty_pythons_2 = ["Graham", "Michael", "Terry"]

the_monty_pythons = the_monty_pythons_1
the_monty_pythons.extend(the_monty_pythons_2)
print(the_monty_pythons)

['John', 'Terry', 'Eric', 'Graham', 'Michael', 'Terry']

In [11]:
# replace an item
a_mixed_list = ["John", 1939, 4.5, True, False]
print(a_mixed_list)
a_mixed_list[-1] = "Graham"
print(a_mixed_list)

['John', 1939, 4.5, True, False]
['John', 1939, 4.5, True, 'Graham']

You can also sort the list using **`sorted()`**:

In [14]:
another_list = [3, 2, 5, 8, 0]
print(another_list)
another_list = sorted(another_list)
print(another_list)

[3, 2, 5, 8, 0]
[0, 2, 3, 5, 8]

In [16]:
# sort a list
sorted(the_monty_pythons)[::-1]

['Terry', 'Terry', 'Michael', 'John', 'Graham', 'Eric']

And if you're unsure how long the list is, use the build-in function **`len()`**:

In [17]:
# length 
print(len(the_monty_pythons))

6

What type would a list have? Let's find out!

In [18]:
# what's the type of the_monty_pythons?
type(the_monty_pythons)

list

So apparently the basic data types are not the only types we can encounter !

## Python <font color='green'>**Tuples**</font>

A <font color='green'>**tuple**</font> is just like a list, but you can't change the values. The values that you give it first are the values that you are stuck with for the rest of the program. That means <font color='green'>**del**</font> and <font color='green'>**.append()**</font> as with lists will not work!\
Again, each value is numbered starting from zero:

In [19]:
# this is a valid tuple
johns_name = ("John", "Cleese")
print(johns_name)
# this is, too
johns_name_and_birthyear = ("John", "Cleese", 1939)
print(johns_name_and_birthyear)
# an empty tuple
an_empty_tuple = ()
print(an_empty_tuple)

# create a tuple from a list
a_tuple_from_a_list = tuple([1, 2, 3, 4, 5])
print(a_tuple_from_a_list)

('John', 'Cleese')
('John', 'Cleese', 1939)
()
(1, 2, 3, 4, 5)

The <font color='green'>**indexing**</font> works as with lists, you can just grab elements from a tuple via <font color='green'>**indexing**</font> or <font color='green'>**slicing**</font>:

In [20]:
# slices
print(johns_name)
print(johns_name[0])
print(johns_name[1])

print(johns_name_and_birthyear)
print(johns_name_and_birthyear[-1])

('John', 'Cleese')
John
Cleese
('John', 'Cleese', 1939)
1939

In [21]:
# reverse tuple
print(johns_name_and_birthyear[::-1])

(1939, 'Cleese', 'John')

What you can do, however, is <font color='green'>**unpacking**</font> a tuple:

In [22]:
# unpack
print(johns_name)
firstname, surname = johns_name
print(firstname)
print(surname)

('John', 'Cleese')
John
Cleese

1
2

Or join tuples using <font color='#a71ed9'>**+**</font>:

In [25]:
joined_tuple = ('John', 'Cleese') + ("Eric", "Idle")
print(joined_tuple)

('John', 'Cleese', 'Eric', 'Idle')

Sorting them will turn them into a list!

In [27]:
joined_sorted = sorted(joined_tuple)
joined_sorted = tuple(joined_sorted)
print(joined_sorted)

('Cleese', 'Eric', 'Idle', 'John')

In [28]:
# the type
type(johns_name)

tuple

## Python <font color='green'>**Dictionaries**</font>

What if we don't want to keep track of an index? what if we want to access a specific item? 
    
Or if we want to store values associated with a certain word, like phonebook entries are associated with
a persons name? That's what <font color='green'>**Dictionaries**</font> are for.

A <font color='green'>**Dictionary**</font> are created using curly brackets. In a dictionary, you have no order and instead of a numerical index, index, you have a "index" of words, called <font color='green'>**keys**</font> and corresponding <font color='green'>**values**</font>. You can access the <font color='green'>**value**</font> with the <font color='green'>**key**</font>.

The <font color='green'>**key**</font> must be unique!

<font color='green'>**Dictionaries**</font> are mutable, so just like lists, you can add, remove or modify items. But unlike lists, they are unordered, so sorting or slicing will not work here!

In [29]:
# empty
empty_dict = {}
print(empty_dict)

# a valid dictionary
monty_names = {
    "John": "Cleese", 
    "Eric": "Idle",
    "Graham": "Chapman", 
    "Michael": "Palin",
}
print(monty_names)

# a dictioary from a list of tuples
a_dict_from_list = dict([("Terry", "Jones"), ("Eric", "Idle")])
print(a_dict_from_list)

{}
{'John': 'Cleese', 'Eric': 'Idle', 'Graham': 'Chapman', 'Michael': 'Palin'}
{'Terry': 'Jones', 'Eric': 'Idle'}

In [30]:
# access an item
print(monty_names["John"])
print(monty_names["Graham"])

Cleese
Chapman

In [31]:
# add an item
monty_names["Terry"] = "Gilliam"
print(monty_names)

{'John': 'Cleese', 'Eric': 'Idle', 'Graham': 'Chapman', 'Michael': 'Palin', 'Terry': 'Gilliam'}

In [32]:
# add "another" Terry
monty_names["Terry"] = "Jones"
print(monty_names)

{'John': 'Cleese', 'Eric': 'Idle', 'Graham': 'Chapman', 'Michael': 'Palin', 'Terry': 'Jones'}

Nope! If you try to add an existing key, you end up overwriting the entry!

In [33]:
# remove an item
del monty_names["Terry"]
print(monty_names)

{'John': 'Cleese', 'Eric': 'Idle', 'Graham': 'Chapman', 'Michael': 'Palin'}

Again, we can update two dictionaries:

In [34]:
# update
monty_names.update({"Terry": "Jones"})
print(monty_names)

{'John': 'Cleese', 'Eric': 'Idle', 'Graham': 'Chapman', 'Michael': 'Palin', 'Terry': 'Jones'}

You can also access the key-value pairs in a dictionary, as well as the keys or values separately, using **`.items()`**, **`.keys()`** or **`.values()`**:

In [36]:
# access the items
print(list(monty_names.items()))

[('John', 'Cleese'), ('Eric', 'Idle'), ('Graham', 'Chapman'), ('Michael', 'Palin'), ('Terry', 'Jones')]

In [38]:
# access keys
print(list(monty_names.keys()))

['John', 'Eric', 'Graham', 'Michael', 'Terry']

In [39]:
# values
print(monty_names.values())

dict_values(['Cleese', 'Idle', 'Chapman', 'Palin', 'Jones'])

In [41]:
# and the type is ... 
type(monty_names)

dict

In [42]:
[2, 3, 3, 3]

[2, 3, 3, 3]

## Python <font color='green'>**Sets**</font>

Lists and Tuples may contain multiple occurences of the same value.
But sometimes you want to have a container with every value occuring exactly once.

At this point, <font color='green'>**Sets**</font> come in handy!
Sets contain each value exactly once.

A <font color='green'>**set**</font> is created by using the <font color='green'>**build-in**</font> **`set()`** function.

Like lists and dictionaries, <font color='green'>**sets**</font> are mutable, so just like lists, you can add, remove or modify items. Like dictionaries, they are unordered.
You can also do set operations (You know them from math) like union and intersection.

In [44]:
# empty
empty_set = set()
print(empty_set)

# a valid set from a list
monty_names_set = set(["John", "Terry", "Michael", "Terry"])
print(monty_names_set)

set_2 = {"Terry", "Graham"}

set()
{'Terry', 'John', 'Michael'}

In [45]:
# update
monty_names_set.update({"Terry", "Graham"})
print(monty_names_set)

{'Terry', 'John', 'Graham', 'Michael'}

In [46]:
# add
monty_names_set.add("Eric")
print(monty_names_set)

{'Terry', 'John', 'Eric', 'Graham', 'Michael'}

In [47]:
# remove
monty_names_set.remove("Terry")
print(monty_names_set)

{'John', 'Eric', 'Graham', 'Michael'}

We can perform set operations on them:

In [48]:
#intersection
monty_1_set = set({"John", "Terry", "Graham"})
monty_2_set = set({"Eric", "Terry", "Michael"})

monty_intersection = monty_1_set.intersection(monty_2_set)
print(monty_intersection)

{'Terry'}

In [49]:
# union
monty_union = monty_1_set.union(monty_2_set)
print(monty_union)

{'Terry', 'John', 'Eric', 'Graham', 'Michael'}

In [50]:
monty_difference = monty_1_set.difference(monty_2_set)
print(monty_difference)

{'Graham', 'John'}

# Summary

So now you should know:

- What are data types?
- Which basic data types are available?
- How to know the type
- What is casting?
- What is None?
- What are strings?
- What is slicing? And how do you use it?
- How can you format strings?
- What are Containers?
- What are Lists, Tuples, Dictionaries and Sets?
- What is the difference between them?
- What can you do with them?


# Exercises

## Exercise 1:

Write some code that 
- asks a user for a line from your favourite song
- then counts the number of occurrences of each vocal
- stores them in an appropriate data structure (what would be useful here?)
- and prints it on screen.

## Exercise 2:

Write a program that asks for a number as input.
Then calculate the square of that number and print it out on screen.

## Exercise 3:
    
Create a dictionary which contains the names and birthdays of 5 people you know.
Then add another person to the dictionary.
Create a list of their names from the dictionary and print it. Then create a tuple of the birthdays and print it.

## Exercise 4:

Consider the following Python expressions. Determine the result and data type of each expression, then check if you were right by evaluating the expressions:

    a) 5 * (10 + 3) / 2

    b) "Hello" + " " + "World"

    c) not (True or False)

    d) len(["apple", "banana", "cherry"])

    e) ("apple", "banana", "cherry")[1:]

    f) {'name': 'John', 'age': 30}.keys()

    g) '2 ** 3'

    h) "Python"[::-1]

    i) 10 > 5 and 5 < 3

    j) ("a", "b", "c")[::-1]

    k) len({'name': 'John', 'age': 30})

    l) {1, 2, 3} | {3, 4, 5}

    m) print("Hello!")

## Exercise 5:    

Consider the six variables below in the next cell.

    a) What is the type of these variables?
    b) Create a dictionary from these six tuples in a single line of code. What do you need for that?
    c) Then write a single line of code to create a list of their names from that dictionary, sorted in reverse alphabetical order and print it.
    d) Write a single line of code that prints the age of the oldest Monty Python from that dictionary.

In [ ]:
john = ('Cleese',  '1939')
terry_g = ('Gilliam', '1940')
graham = ('Chapman', '1941')
terry_j = ('Jones', '1942')
eric = ('Idle', '1943')
michael = ('Palin', '1943')

# line 1 - create a dictionary

# line 2 - print surnames in reverse alphabetical order

# line 3 - print the age of the oldest member

< [2 - Literally variable](Python%20Crash%202%20-%20Literally%20variable.ipynb) | [Contents](Python%20Crash%20ToC.ipynb) | [4 - Control the flow](Python%20Crash%204%20-%20Control%20the%20flow.ipynb) >